
* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    width:60%;
    margin: 5% 20% 15% 20%;
}

img {
    width:250px;
    float:left;
    margin-right:20px;
}

#profilove_informace {
    margin: 20px;
}

td {
    padding-right: 20px;
}

.auto {
    width: 600px;
    height: 200px;
    margin: 30px;
    padding: 30px;
}